<h1>Buscado: <small> {{ termino }}</small> </h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-primary" role="alert">
            No existen resultados con el término: {{ termino }}
        </div>
    </div>
</div>

<div class="card-group margin-between-cards">
    <app-heroe-tarjeta [heroe]="heroe" [index]="heroe.idx" *ngFor="let heroe of heroes"></app-heroe-tarjeta>
    <!--
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="card animated fadeIn fast" *ngFor="let heroe of heroes let i = index">
            <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
            <div class="card-body">
                <h4 class="card-title">{{ heroe.nombre }}</h4>
                <p class="card-text">{{ heroe.bio }}</p>
                <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

                <div class="d-grid gap-2">

                    <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary">
                        Ver más...
                    </button>

                
                    <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary">
                        Ver más...
                    </a>

                </div>
            </div>
        </div>
    </div>
    -->
</div>